<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Author</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>

    <header>
        <h1>📚 My Digital Library</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/add_author">Add Author</a>
        <a href="/add_book">Add Book</a>
        <a href="/suggest">AI Suggestion</a>
    </nav>

    {% if message %}
      <p>{{ message }}</p>
    {% endif %}

    <form action="/add_author" method="POST">

  <div class="form-row">
    <label for="name">Author Name:</label>
    <input type="text" id="name" name="name" required>
  </div>

  <div class="form-row">
    <label for="birthdate">Birthdate:</label>
    <input type="date" id="birthdate" name="birthdate" required>
  </div>

  <div class="form-row">
    <label for="date_of_death">Date of Death:</label>
    <input type="date" id="date_of_death" name="date_of_death">
  </div>

  <input type="submit" value="Add Author">

</form>

  </body>
</html>
