<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <h1>{{ book.title }}</h1>
    <p><strong>Author:</strong> {{ book.author.name }}</p>

    {% if book.isbn %}
      <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" alt="Cover">
    {% endif %}

    <p><strong>ISBN:</strong> {{ book.isbn or "Unknown" }}</p>
    <p><strong>Publication Year:</strong> {{ book.publication_year or "Unknown" }}</p>

    <br>
    <a href="/">⬅ Back to Library</a>

  </body>
</html>
