<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

    <form action="/" method="GET">
      <input type="text" name="search" placeholder="Search books...">
      <button type="submit">Search</button>
    </form> <br>

    <p>Sort by:
      <a href="/?sort=title">Title</a> |
      <a href="/?sort=author">Author</a>
    </p>

    {% if message %}
      <p>{{ message }}</p>
    {% endif %}

    {% for book in books %}
      <div>
        {% if book.isbn %}
          <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="Cover">
        {% endif %}
        <h3>{{ book.title }} — {{ book.author.name }}</h3>
      </div>
    {% endfor %}

  </body>
</html>